@font-face{
    font-family: 'Work Sans';
    src: url('WorkSans-Regular.ttf') format('truetype');
}

body{
    font-family: 'Work Sans', sans-serif;
    color: #1D3557;
    font-size: 15px;
    padding: 0;
    margin: 0;
}

h1{
    color: #E63946;
}

.container{
    margin: auto;
    width: 88%;
    overflow: hidden;
}

ul{
    margin: 0;
    padding: 0;
}

.highlight{
    color: #E63946;
    font-weight: bolder
}

header{
    padding-top: 25px;
    min-height: 70px;
}

header a{
    text-decoration: none;
    font-size: 16px;
    color: #1D3557;
    font-weight: bold;
}


header li{
    float: left;
    display: inline;
    padding: 0 30px 0 30px;
    /* padding: top right bottom left */
}

header #name{
    float: left;
}

header #name h1{
    margin: 0;
}

header nav{
    float: right;
}

header .highlight, header .current a{
    color: #E63946;
    font-weight: bolder;
}

header a:hover{
    color: #cccccc;
    font-weight: bold;
}

/* top part thingy */
#home{
    min-height: 400px;
    text-align: center;
}

#home h2{
    margin-top: 200px;
    margin-bottom: 0;
}

#home h1{
    font-size: 55px;
    margin: 0;
}

/* about meeee */

#about{
    margin-top: 250px;
    min-height: 500px;
    text-align: center;
}

#about h1{
    font-size: 35px;
}

/* work */

#work{
    text-align: center;
}

#work h1{
    font-size: 35px;
    
}


/* footer */

footer{
    padding: 20px;
    margin-top: 250px;
    text-align: center;
    background-color: #E63946;
}

footer p{
    color: #F1FAEE;
}