@font-face{
    font-family: 'Work Sans';
    src: url('WorkSans-Regular.ttf') format('truetype');
}
@-ms-viewport{
    width: device-width;
}

body{
    font-family: 'Work Sans', Helvetica, sans-serif;
    color: #1D3557;
    font-size: 15px;
    padding: 0;
    margin: 0;
}

h1{
    color: #E63946;
}

.secondary-header{
    color: #E63946;
    font-size: 45px;
}

.container{
    margin: auto;
    width: 88%;
    overflow: hidden;
}


ul{
    margin: 0;
    padding: 0;
}

.highlight{
    color: #E63946;
    font-weight: bolder
}

/* header */
header{
    padding-top: 25px;
    min-height: 70px;
}

.header-container{
    margin: auto;
    width: 88%;
    overflow: hidden;
}

header a{
    text-decoration: none;
    font-size: 16px;
    color: #1D3557;
    font-weight: bold;
}


header li{
    float: left;
    display: inline;
    padding: 0 30px 0 30px;
    /* padding: top right bottom left */
}

header #name{
    float: left;
}

header #name h1{
    margin: 0;
}

header nav{
    float: right;
}

header .highlight, header .current a{
    color: #E63946;
    font-weight: bolder;
}

header a:hover{
    color: #cccccc;
    font-weight: bold;
}

/* top part thingy */


#home{
    min-height: 400px;
    text-align: center;
}

#home h2{
    margin-top: 200px;
    margin-bottom: 0;
}

#home h1{
    font-size: 55px;
    margin: 0;
}

/* about meeee */

#about{
    min-height: 500px;
    text-align: center;
    background-color: #FBFBFB;
}

/* work */

#work{
    text-align: center;
    background-color: white;
    
}

.work-container{
    display:flex;
    flex-flow: row wrap;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 4em;
    margin-left: 80px;
    margin-right: 80px;
}

.work-wrapper{
    transition: all 300ms ease;
    transform: translateY(0);
    background: transparent;
    box-shadow: 0 0 0 rgba(black, 0);
  
}
.work-wrapper:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 14px rgba(black, 1);
}


.work-link{
    padding: 20px;
    text-decoration: none;
    display: inline-block;

}

.work-image{
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    height: auto;
}
.work-content{
    background-color: white;
    margin: 0;
    position: relative;
    border-radius: 4px;
    width: 100%;

    
}

.work-content-header{
    text-align: center;
    color: #1D3557;
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 0;
    margin-top: 0;
    line-height: 2;
    transition: color 300ms ease;
}

/* footer */

footer{
    padding: 20px;
    text-align: center;
    background-color: #E63946;
}

footer p{
    color: #F1FAEE;
}